* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Karla', sans-serif;
}

.jumbotron {
	/*background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f651cc23-26ab-400e-9a30-7ec983b0190a/d7qxlzs-8b5517b9-984f-4282-b76e-42ced3db43f2.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZjY1MWNjMjMtMjZhYi00MDBlLTlhMzAtN2VjOTgzYjAxOTBhXC9kN3F4bHpzLThiNTUxN2I5LTk4NGYtNDI4Mi1iNzZlLTQyY2VkM2RiNDNmMi5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.mwim7GAcZJAqdlos8sxjfy7R50HzKBqKtRbroZb2nVM); 
	height: 100%*/
	background-color: transparent;
	border-color: transparent;
	background-size: cover;
	background-position: center;
}
/*body {*/
/*	background-image: url(giphy.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}*/

html {
	scroll-behavior: smooth;
}

.btn a {
	text-decoration: none;
	color: #fff;
}
section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sec-1 {
  background-image: url("https://media1.giphy.com/headers/kyttenjanae/FIFANzAvhRJJ.gif");
	height: 100%
	background-color: no-repeat;
	background-size: cover;
	background-position: center;
}

#sec-2 {
  background-image: url("https://media1.giphy.com/media/xTiTnyWfQrln1i4jeM/source.gif"); 
	height: 100%
	background-color: no-repeat;
	background-size: cover;
	background-position: center;

}
.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid white;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid white;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
  0% {
	 top:20%; 
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}
.navbar {
  background:transparent;
  background-image:none;
  border-color:transparent;
  box-shadow:none;        
}
#sec-3 {
  background-image: url("https://i.gifer.com/AoVu.gif"); 
	height: 100%
	background-color: no-repeat;
	background-size: cover;
	background-position: center;

}
#sec-4 {
	background-image: url("https://laughingsquid.com/wp-content/uploads/2015/02/tumblr_n950lxP14O1slt6qeo1_500.gif"); 
	height: 100%
	background-color: no-repeat;
	background-size: cover;
	background-position: center;

}
#sec-5 {
	background-image: url("https://assets1.ello.co/uploads/asset/attachment/2749112/ello-optimized-3d77f367.gif"); 
	height: 100%;
	background-color: no-repeat;
	background-size: cover;
	background-position: center;
}

.card{
	background-color: transparent;
	border-color:transparent;
}
.arrow-btn{
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 9;
}
.arrow-btn a{
	height: 39px;
	width: 37px;
	text-align: center;
	background: transparent;
	display: block;
	border-radius: 3px;
	cursor: pointer;

}
.arrow-btn a span{
	color: white;
	line-height: 39px
	font-size: 25px;
}

}
.contact{
	font-size: 12px
	top: 15px;

}
.footer{
	text-transform: uppercase;
}
